$text-position: center;
$background-color: linear-gradient(to left, #000000 0%, #ffffff 355%);
$color: #FFFFFF;
$button-color: limegreen;
$h-font: 'Secular One', sans-serif;
$p-font: 'Arial, Helvetica', sans-serif;
